{% extends 'pollution_app/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ page_title }}</h2>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">用户列表</h5>
            <p class="card-text">这是用户管理页面，只有拥有用户管理权限的用户才能访问。</p>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>姓名</th>
                            <th>是否活跃</th>
                            <th>是否超级用户</th>
                            <th>注册时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.is_active|yesno:'是,否' }}</td>
                            <td>{{ user.is_superuser|yesno:'是,否' }}</td>
                            <td>{{ user.date_joined|date:'Y-m-d H:i' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
